.container
    .row.justify-content-center
        =@word.polish
    .row.justify-content-center
        =@word.english
    .row.justify-content-center
        =@word.spanish
    .row.justify-content-center
        =link_to 'destroy',@word,method: :delete